.image-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-principal);
}

.image-wrapper {
  width: 50%;
  height: 28vw;
}

.image-wrapper img {
  width: 100%;
  min-height: 100%;
}

.text-container {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ce0058;
}

.text-wrapper {
  text-align: center;
  color: #fff;
  font-size: 28px;
}