.image-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-principal);
}

.image-wrapper {
  width: 50%;
  height: 28vw;
}

.image-wrapper img {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.text-container {
  flex: 0 0 50%;
  flex-direction: column;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  text-align: center;
  color: var(--text-light-color);
  font-size: var(--al-font-size-x5);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-bold);
}

.description-wrapper{
  color: var(--text-light-color);
  font-size: var(--al-font-size-x5);
  font-family: var(--body-font-family);
}