.banco-compartir-carousel-block {
  width: 1070px;
  margin: 0 auto;
}	
/* Un scrollbar negro con fondo gris */
.banco-compartir-carousel-block::-webkit-scrollbar {
    height: 3px;
    transition: all .3s;
}
.banco-compartir-carousel-block:hover .banco-compartir-carousel-block::-webkit-scrollbar{
    height: 5px;
}
.banco-compartir-carousel-block::-webkit-scrollbar-track{
    background-color: #cecac5;
    border-radius: 4px;
}
.banco-compartir-carousel-block::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 4px;
}
.banco-compartir-carousel-item{
    flex: 0 0 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.banco-compartir-carousel-item-image{
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4f2;
    clip-path: circle(50%);
}
.banco-compartir-carousel-item-image img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.banco-compartir-carousel-item-title{
    text-align: center;
}
.slick-next:before, .slick-prev:before {
    content: none;
}
.slick-next{
  background-image: url(https://www.pidetucreditoencompartamos.com/assets/images/iconss/arrw-right_mag.png) no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 26px;
}
.slick-prev{
  background-image: url(https://www.pidetucreditoencompartamos.com/assets/images/iconss/arrw-left_mag.png) no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 26px;
}