.banco-compartir-carousel-block {
  width: 1070px;
  margin: 0 auto;
}	
/* Un scrollbar negro con fondo gris */
.banco-compartir-carousel-block::-webkit-scrollbar {
    height: 3px;
    transition: all .3s;
}
.banco-compartir-carousel-block:hover .banco-compartir-carousel-block::-webkit-scrollbar{
    height: 5px;
}
.banco-compartir-carousel-block::-webkit-scrollbar-track{
    background-color: #cecac5;
    border-radius: 4px;
}
.banco-compartir-carousel-block::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 4px;
}
.banco-compartir-carousel-item{
    flex: 0 0 357px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.banco-compartir-carousel-item-image{
    width: 170px;
    height: 170px;
}
.banco-compartir-carousel-item-image img{
    width: 100%;
    height: 100%;
}
.banco-compartir-carousel-item-title{
    text-align: center;
    font-size: 16px;
    color: #83786f;
    line-height: 1.2;
}
.slick-next:hover, .slick-next:focus{
  background-image: url(https://www.pidetucreditoencompartamos.com/assets/images/iconss/arrw-right_mag.png);
}
.slick-prev:hover, .slick-prev:focus{
  background-image: url(https://www.pidetucreditoencompartamos.com/assets/images/iconss/arrw-left_mag.png);
}